.wrapper {
  max-width: 1000px;
  margin: 2rem auto;
}

.main__content {
  margin-top: 2rem;
}

.fixed-height {
  height: 720px;
  overflow-y: scroll;
}

.album-metainfo-list {
  list-style-type: none;
  padding-left: 1rem;
  margin-bottom: 0;
}

.album-title {
  font-size: 20px;
}

.list-group-item.active {
  .album-title,
  .album-artist {
    color: #ffffff;
  }
}
